body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    align-items: center;
}

.profilePic {
    height: 320px;
    width: 320px;
}

.nameOnImage {
    position: absolute;
    top: 220px;
    left: 12px;
    color:white;
    font-size: 36px;
    text-wrap: wrap;
}

.aboutMeHeader {
    width: 320px;
    text-align:center;
    font-size: 28px;
}

.aboutMeText {
    width: 320px;
}
.pdfIcon {
    height: 30px;
}

.githubIcon {
    height: 30px;
}

.linkedInIcon {
    height: 30px;
}

/* PROJECTS CARDS */

.projects {
    display:grid;
}

.card {
    width: 320px;
    border: 1px black solid;
}

.projectsTitle {

}

.image {
    width: 320px;
    height: 200px;
    border: 4px black solid;
}

.projectCodeIcon {
    height: 18px;
    position: relative;
    top: 10px;
}

