body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    align-items: center;
}

.profilePic {
    height: 320px;
    width: 320px;
}

.nameOnImage {
    position: absolute;
    top: 220px;
    left: 12px;
    color:white;
    font-size: 36px;
    text-wrap: wrap;
}

.aboutMeHeader {
    width: 320px;
    text-align:center;
    font-size: 28px;
}

.aboutMeText {
    width: 320px;
}

.linkIconsHeader {
    display:flex;
}

.resumeLink {
    width: 230px;
    margin-left: 10px;
}

.pdfIcon {
    height: 30px;
    vertical-align:middle;
}

.githubIcon {
    height: 30px;
    vertical-align:middle;
    margin-right: 10px;
}

.linkedInIcon {
    height: 30px;
    vertical-align:middle;
}

/* PROJECTS CARDS */

.projectsTitle {
    width:320px;
    text-align:center;
}

.projects {
    display:grid;
    gap: 40px;
    width: 320px;
}

.card {
    width: 320px;
    border: 1px black solid;
}

.image {
    width: 320px;
    height: 200px;
    border: 4px black solid;
}

.projectInfo {
    display:grid;
    grid-template: 50px 100px / 270px 50px;
}

.projectName {
    margin-left: 30px;
}

.projectCodeIcon {
    height: 28px;
    position: relative;
    top: 10px;
}

.projectDescript {
    margin-left: 20px;
    margin-right: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* CONTACT */

.footer-contact {
    background-color: rgb(106, 106, 235);
    width: 320px;
}

.contactTitle {
    text-align: center;
    padding-top: 20px;
}

.phoneContact {
    margin-left: 30px;
    display:flex;
    margin-bottom: 10px;
}

.phoneIcon {
    height: 20px;
    margin-right: 5px;
}

.phoneNumber {
    margin:0;
}

.emailContact {
    margin-left: 30px;
    display: flex;
    margin-bottom: 40px;
}

.emailIcon {
    height: 20px;
    margin-right: 5px;
}

.email {
    margin:0;
}

.linkIconsFooter {
    margin-left: 70%;
    padding-bottom: 20px;
}

